.badge {
    background-color: tomato;
    width: 28px;
    height: 28px;
    color: white;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}
.setting-alert{
    position: relative;
}
.alert{
    position: absolute;
    left: 25px;
    bottom:20px;
    background-color: tomato;
    width: 5px;
    height: 5px;
    border-radius: 2.5px;
    display: flex;
    justify-content: center;
    align-items: center;
}