.badge {
    background-color: tomato;
    width: 28px;
    height: 28px;
    color: white;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}
.setting-alert{
    position: relative;
}
.alert{
    position: absolute;
    left: 25px;
    bottom:20px;
    background-color: tomato;
    width: 5px;
    height: 5px;
    border-radius: 2.5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.alert-circle-father{
    position: relative;
}
.alert-circle{
    display: flex;
    background-color: white;
    color:red;
    border: 1px solid red;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    position: absolute;
    right:-20px;
    bottom: 1px;
}